<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      background-color: #262626;
      margin: 0;
      padding: 0;
      color: #F4F4F4;
    }
    /* Content area styles */
    .content {
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  </style>
</head>
<body>
  <!-- Main content of the page -->
  <main>
    <img src="../docs/assets/website_front_page.png" alt="Website Front Page" width="100%">
    {{ content }} <!-- This will display the content from the page that uses this layout -->
  </main>
</body>
</html>
